<?myb.xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mano.mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="mano.mybatis.model.Virejas" alias="Virejas"/>
        <typeAlias type="mano.mybatis.model.Patiekalas" alias="Patiekalas"/>
        <typeAlias type="mano.mybatis.model.Uzsakymas" alias="Uzsakymas"/>
        <typeAlias type="mano.mybatis.model.Patiekalasuzsakymas" alias="Patiekalasuzsakymas"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="MANAGED"/>
            <dataSource type="JNDI">
                <!--<property name="data_source" value="java:global/StudentsDataSource"/>-->
                <property name="data_source" value="openejb:Resource/StudentsDataSource"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mybatis/PatiekalasMapper.xml"/>
        <mapper resource="mybatis/PatiekalasuzsakymasMapper.xml"/>
        <mapper resource="mybatis/UzsakymasMapper.xml"/>
        <mapper resource="mybatis/VirejasMapper.xml"/>
    </mappers>
</configuration>